@{
    ViewData["Title"] = "Example 1";

    List<string> tags_ai = new List<string> { "racer", "tow_truck", "trailer_truck", "sports_car", "car_wheel" };
    List<double> confidence_ai = new List<double> { 0.568, 0.221, 0.056, 0.034, 0.037 };

    List<string> tags_az = new List<string> { "car", "wheel", "land vehicle", "vehicle", "automotive", "tire" };
    List<double> confidence_az = new List<double> { 0.997, 0.987, 0.984, 0.976, 0.958, 0.924 };
}

<div class="text-center">
    <h1 class="display-5">Example 1</h1>
    <br />

    <div class="container">
        <div class="row">
            <div class="col">
                <img style="height: 400px" src="~/img/01.jpeg"/>
            </div>
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <td><b>#</b></td>
                            <td><b>Azure Vision Tag</b></td>
                            <td><b>Confidence</b></td>
                            <td><b>ImageAI Tag</b></td>
                            <td><b>Confidence</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int i = 0;}
                        @foreach (var item in tags_az)
                        {
                            i++;
                            <tr>
                                <td>@i</td>
                                <td>@item</td>
                                <td>@confidence_az[i-1]</td>
                                <td>
                                    @if(i <= tags_ai.Count)
                                    {
                                        @tags_ai[i-1]
                                    }
                                </td>
                                <td>
                                    @if(i <= confidence_ai.Count)
                                    {
                                        @confidence_ai[i-1]
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <br \>
    <h4>Similarity: 89.05%</h4>
    <img style="width: 700px; height: 500px" src="~/img/map_01.jpg"/>
</div>



@section Scripts {

}